@font-face {
    font-family: 'bold';
    src: url(../../../public/assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'regular';
    src: url(../../../public/assets/fonts/Montserrat-Regular.ttf);
}